  .row>a:hover{
 color: black;
}
.cool{
 width: 50%;
}
.cool1{
 width: 100%;
 text-align: right;
 margin-top: -22px;
}
.row:hover{
   background-color:#f2f2f2;
.dropdown-menu{
 background: #fff;
    border: 1px solid rgba(100, 100, 100, .4);
    border-radius: 0 0 2px 2px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    color: #1d2129;
    overflow: visible;
    position: absolute !important;
    width: 430px !important;
    z-index: -1;
} 
.footer a{
   background-color: #fff;
   border-bottom-left-radius: 3px;
   border-bottom-right-radius: 3px;
   border-top: 1px solid #dddfe2;
   display: block;
   font-weight: bold;
   padding: 8px 12px;
   position: relative;
   text-align: center;
  z-index: 100;
  
}
.footer>a>span{
 font-size: 14px;
 color: #365899;
cursor: pointer;
font-weight: bold;
}
.cont{
 display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -1px;
    min-height: 50px;
    word-wrap: break-word;
    overflow: hidden;
}
.date{
 padding-top: 3px;
    margin-top: -1px;
}
.notiimg{
 display: block;
    height: 44px;
    margin-right: 12px;
    width: 44px;
}
.link{
 color: #1d2129;
display: block;
padding: 6px 30px 5px 12px;
position: relative;
}